@use "global" as *;

.aboutUs {
  padding-bottom: rem(73);
  @include mq(md) {
    padding-bottom: rem(164);  
    position: relative;   
  }  
}

.aboutUs__inner {
  max-width: rem(1180);
  margin-right: auto;
  margin-left: auto;  
  padding: 0 rem(15);
  @include mq(md) {
    padding: 0 rem(45);
  }
}

.aboutUs .aboutUs__engTitle { 
  @include mq(md) {
    padding-right: rem(14);  
  } 
}
.aboutUs .aboutUs__jaTitle { 
  line-height: 1.5;  
  @include mq(md) {   
   padding-right: rem(16);  
   line-height: 1.6;
  }  
}

.aboutUs__contain {
  position: relative; 
  margin-top: rem(29); 
  @include mq(md) {
    margin-top: rem(40);    
  }     
}

.aboutUs__figure {
  display: flex;  
  max-width: rem(1130); 
  position: relative;     
}

.aboutUs__figure-left {
    aspect-ratio: 194 / 128;       
    max-width: 36.4%;     
    margin-bottom: rem(18);
    position: relative;    
    width: 100%;   
    @include mq(md) {
      aspect-ratio: 606 / 400;
      margin-bottom: rem(55);      
    }
}

.aboutUs__figure-left img {   
    height: 100%;
    object-fit: cover;   
    width: 100%;    
}

.aboutUs__figure-right {
    aspect-ratio:  281/ 186;    
    margin-top: rem(26);
    margin-left: rem(-62);
    max-width: 80.8%; 
    width: 100%;       
    z-index: -1;
    @include mq(md) {
      aspect-ratio:  880/ 581;
      margin-top: rem(80);
      margin-left: rem(-199);      
    }
}

.aboutUs__figure-right img {    
    height: 100%;       
    width: 100%;
    object-fit: cover; 
}

.aboutUs__contain__copy-box {
  color: $green;
  font-family: $en-font-family;
  font-size: rem(40);
  font-style: normal;
  font-weight: $normal;
  line-height: 1; 
  margin-top: rem(40);  
  @include mq(md) {       
    color: $white;
    display: flex;  
    font-family: $en-font-family;
    font-size: rem(80);   
    justify-content: center;
    line-height: calc(100/ 80); 
    max-width: rem(840);     
    margin-top: 0;    
    margin-right: auto;
    margin-left: auto;    
    position: absolute;
    top: 30.1%;   
    right: 4.9%;     
    width: 100%;
  }
}

.aboutUs__contain__copy-text {
  color: $black;
  font-family: $ja-font-family;
  font-size: rem(16);
  font-weight: $normal;
  line-height: calc(24/ 16); 
  margin-top: rem(16);  
  @include mq(md) {
    color: $white;
    max-width: rem(400);
    margin-top: 0;    
    margin-left: rem(40);    
  }
}

.aboutUs__button {
  margin-top: rem(51);
  margin-right: rem(18);
  
  text-align: center; 
  @include mq(md) {
    position: absolute;
    bottom: 33.8%;
    right: 14.1%;
  }
}

.aboutUs__decoration {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    width: rem(194);
    right: calc(50% - min(48vw,rem(630)));
    bottom: rem(-89);
  }
}

