@use "global" as *;

.blog {
  @include mq(md) {
    background: linear-gradient(0deg, white 40%, transparent 40%), url('../../assets/images/common/blog-bg.jpg') top/cover no-repeat;
    width: 100%;  
    position: relative;
  }
}

.blog__inner {
  max-width: rem(600);
  @include mq(md) {
    max-width: 100%;
  }
}

.blog .blog__engTitle {  
  margin-right: rem(2);  
  @include mq(md) {
    color: $white;  
  }
}
.blog .blog__jaTitle {  
  line-height: 1.7; 
  margin-top: rem(7);
  margin-right: rem(3);   
  @include mq(md) {
    color: $white;    
  }
}

.blog-color {
  @include mq(md) {
    color: $white;
  }
}

.blog__cards {
  text-align: center;
  margin-top: rem(27);
  @include mq(md) {    
    display: flex; 
    flex-wrap: wrap;
    gap: rem(40);   
    margin-top: rem(78);     
  }  
}

.blog__button { 
  margin-top: rem(40);  
  margin-right: rem(3);  
  text-align: center;
  @include mq(md) {
    margin-top: rem(81); 
    padding-right: rem(2);      
  }  
}

.blog__decoration {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    width: rem(438);
    left: calc(50% - min(48vw,rem(620.5)));
    top: rem(23.5);
  }
}