@use "global" as *;

.campaign {
  @include mq(md) {
    position: relative;
  }
}

.campaign .campaign__entitle {
  line-height: 0.68;
  @include mq(md) {  
  padding-right: rem(15);  
  }
}
.campaign .campaign__jatitle {
  line-height: 2.5;
  @include mq(md) {
    padding-right: rem(17);  
  } 
}

.campaign__container {
  overflow: hidden;
  margin-top: rem(22);  
  @include mq(md) {
    margin-top: rem(36);   
  }  
}

.campaign-swiper {
  overflow: hidden;
}

.campaign__wrappre {
  padding-bottom: rem(5);
  transition-timing-function: linear;  
}

.campaign__button { 
  margin-top: rem(36);  
  margin-right: rem(5);     
  text-align: center;
  @include mq(md) {
    margin-top: rem(75);        
  }  
}