@use "global" as *;

.campaign {    
  @include mq(md) {
    position: relative;  
  }  
}

.campaign__container {
  overflow: hidden;
  margin-top: rem(28);   
  margin-right: calc(50% - 50vw);
  @include mq(md) {
    margin-top: rem(40);   
  }  
}

.campaign-swiper {
  overflow: hidden;  
}

.campaign__wrapper {
  padding-bottom: rem(5);
  transition-timing-function: linear;   
}

.campaign__button { 
  margin-top: rem(35);     
  text-align: center;
  padding-bottom: rem(4);  
  @include mq(md) {
    margin-top: rem(75);        
  }  
}