@use "global" as *;

.information {
  background: #DDF0F1;
  padding-bottom: rem(84);
  @include mq(md) {
    padding-bottom: rem(75);
  }  
}

.information__inner {
  max-width: rem(600);
  @include mq(md) {
    max-width: 100%;
  }
}

.information__title {
  padding-top: rem(85);
  @include mq(md) {
    padding-top: rem(100);  
    margin-right: rem(8);      
  }  
}


.information__content {
  margin-top: rem(28);
  @include mq(md) {
    display: flex;
    margin-top: rem(41); 
  }  
}

.information__figure {
  aspect-ratio: 345/ 227;
    width: 100%;
  @include mq(md) {
    aspect-ratio: 540/ 356;
    width: 50%;
    margin-left: rem(-3);    
  } 
}
  
.information__figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.information__content-body {
  @include mq(md) {   
    width: 50%;
    margin-left: rem(2);
    
  }   
}

.information__content__wrapper {
  @include mq(md) {
    max-width: rem(492);
    margin-left: rem(46);
    
  }
}

.information__heading {
  border-bottom: rem(1) solid #408F95;
  color: $black;
  font-family: $ja-font-family;
  font-size: rem(20);
  font-style: normal;
  font-weight: $bold;
  line-height: 1;
  margin-top: rem(27);
  padding-bottom: rem(4);  
  @include mq(md) {
    font-size: rem(24);
    margin-top: rem(61);
    padding-bottom: rem(8); 
  }  
}

.information__text {    
  font-family: $ja-font-family;
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: calc(18/ 12);  
  padding-top: rem(8);
  @include mq(md) {
    font-size: rem(16);
  }  
}


.information__button {
  margin-top: rem(39);  
  text-align: center;  
  @include mq(md) {
    margin-top: rem(39);     
  } 
}