@use "global" as *;

.main-view {
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.main-view__titles {  
  position: absolute;
  top: 50.1%;
  left: 52.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $white; 
  margin: auto; 
  @include mq(md) {
    left: 51.5%;
  }
}

.main-view__title { 
  margin: 0;  
  font-family: $en-font2-family;
  font-size: rem(40);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.2;
  letter-spacing: rem(21);
  @include mq(md) {
    font-size: rem(80);
    letter-spacing: 0.53em; 
    line-height: 1.25;   
  }
}

.main-view__subtitle {  
  margin: 0;  
  font-family: $en-font-family;
  font-size: rem(20);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.7;  
  padding-right: rem(22);
  @include mq(md) {
    padding-right: rem(44);
  }
}

