@use "global" as *;

.nav-list { 
  display: flex;  
  color: $white;    
  gap: 5%;
  justify-content: space-around;
  @include mq(md) {
    gap: rem(128);
  } 
}

.nav-list__contents-left,
.nav-list__contents-right { 
  @include mq(md) {
    display: flex;
    gap: rem(48);
    width: 50%;
    justify-content: space-between;
  }
}

.nav-list__items {  
  max-width: rem(162);
  // width: 100%;
  // gap: 20px;
  @include mq(md) {
    max-width: rem(283);
    // width: 100%;
  }
}

.nav-list__item-title::before {
  content: "";
  background: url(../../../assets/images/common/hitode.png) no-repeat;
  background-size: 90%;
  display: inline-block; 
  width: rem(18);
  height: rem(18);
  vertical-align: middle;
  margin-right: rem(4);
}

.nav-list__item::before {
  content: ""; 
  display: inline-block;  
  width: rem(18);
  height: rem(18);
  vertical-align: middle;
  margin-right: rem(4);
}




.nav-list__item-title {
  color: $white;
  font-family: $ja-font-family;
  font-size: rem(16);
  font-style: normal;
  font-weight: $bold;
  line-height: calc(18/ 16); 
  margin-top: rem(40);
  text-indent: rem(-22);
  padding-left: rem(25);
}

.nav-list__item {    
  color: $white;
  font-family: $ja-font-family;
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: calc(18/ 16);  
  margin-top: rem(24);  
  white-space:nowrap;
}

