@use "global" as *;

.page-policy {
  position: relative;
}

.page-policy__contents {
  margin-top: rem(40);  
}

.page-policy__lists {
	margin: 1em 0;
	padding-left: 20px;
	list-style-type: decimal;
}

.page-policy__contents {
  margin-top: rem(40);  
}

.page-policy__content {
  margin-top: rem(40);
  
}

.page-policy__decoration {
  position: absolute;
  width: rem(116);
  left: calc(50% - min(46vw,rem(620)));
  top: rem(-24);
  @include mq(md) {
    width: rem(301);
    left: calc(50% - min(48vw,rem(620)));
    top: rem(-72);
  }
}