@use "global" as *;

.section-header {
  text-align: center;
}

.section-header__jaTitle {
  color: $green;
  font-family: $ja-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.5; 
  margin-top: rem(8);    
}

.section-header__engTitle {
  color: $black;
  font-family: $en-font-family;
  font-size: rem(32);
  font-style: normal;
  font-weight: $normal;
  line-height: 1;
  @include mq(md) {
    font-size: rem(40); 
  }
} 

.section-header__engTitle::first-letter {
  text-transform: capitalize;
  color: $green;
  letter-spacing: 0.05;
}

.section-header__engTitle.section-header__engTitle--color {
  @include mq(md) {    
    color: $white;
  }
}
.section-header__engTitle.section-header__engTitle--color::first-letter {
  @include mq(md) {
    color: $white;
  }
}

.section-header__engTitle.section-header__engTitle--big {  
  font-size: rem(80);       
}

.section-header__jaTitle.section-header__jaTitle--big {
  @include mq(md) {
    margin-top: 0;    
  }
}