@use "global" as *;

.sp-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: $green;
  z-index: 10;
  overflow-y: auto;
  @include mq(md) {
    display: none;
  }
}

.sp-nav.is-active { 
  @include mq(md) {
    display: none;
  } 
}

.sp-nav__logo {
  width: rem(121);
  padding-top: rem(21);
  padding-left: rem(12);
  position: fixed;
  height: rem(80); 
}

.sp-nav__nav {
  gap: 1.7%;
}

.sp-nav__nav {
  margin-top: rem(104);
  
}

.sp-nav__item {
  margin-left: rem(-1);
  line-height: 1.1;  
  margin-top: rem(21);  
}
