@use "global" as *;

.text-hover { 
  display: inline-block; 
}

.text-hover.line {
  padding-bottom: rem(4);
  margin-bottom: rem(-4);  
  position: relative;
}
.text-hover.line::before {
  background: $white;
  content: '';
  width: 88%;
  height: rem(1);
  position: absolute;
  left: rem(4);
  bottom: rem(20);
  margin: auto;
  transform-origin: center top;
  transform: scale(0, 1);
  transition: transform .2s;
}
.text-hover.line:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}