@use "global" as *;

.text-hover { 
  display: inline-block; 
}

.text-hover.line {  
  position: relative;
}
.text-hover.line::before {
  background: $white;
  content: '';
  width: 100%;
  height: rem(1);
  position: absolute;
  left: 0;
  bottom: rem(20);
  margin: auto;
  transform-origin: center top;
  transform: scale(0, 1);
  transition: transform .2s;
}
.text-hover.line:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}