@use "global" as *;

.voice { 
  padding-bottom: rem(84);
  @include mq(md) {
    position: relative;
    padding-bottom: rem(143);      
  }    
}


.voice .voice__engTitle {    
  letter-spacing: 0.02em;
  @include mq(md) {
    margin-right: rem(17);  
  }
}
.voice .voice__jaTitle {
  line-height: 1.5;
  margin-right: rem(1);
  
  @include mq(md) {
    line-height: 1.6;
    margin-right: rem(19);
  }
}

.voice__cards {
  margin-top: rem(44);
  @include mq(md) {
    margin-top: rem(32);
    display: flex;  
    max-width: rem(1080);
    margin-left: rem(16);      
  }  
}

.voice__button {
  margin-top: rem(42);
  margin-right: rem(3);  
  text-align: center; 
  @include mq(md) {
    margin-top: rem(80.5); 
    margin-right: rem(21);       
  }  
}

.voice__decoration-left {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    width: rem(301);
    left: calc(50% - min(48vw,rem(628)));
    top: rem(-120);
  }
}
.voice__decoration-right {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    width: rem(71);
    right: calc(50% - min(48vw,rem(532)));
    bottom: rem(-71);
    z-index: 5;
  }
}